# URL base tenant SAP CPI (es: https://mytenant-tmn.hcisbp.eu1.hana.ondemand.com/itspaces)
CPI_BASE_URL=

# basic oppure oauth
CPI_AUTH_TYPE=basic

# Credenziali basic (se CPI_AUTH_TYPE=basic)
CPI_USERNAME=
CPI_PASSWORD=

# OAuth client credentials (se CPI_AUTH_TYPE=oauth)
CPI_TOKEN_URL=
CPI_CLIENT_ID=
CPI_CLIENT_SECRET=
CPI_OAUTH_SCOPE=

# Porta locale app
PORT=3000

# Numero massimo messaggi da mostrare
CPI_MESSAGES_TOP=100

# Precarica metadati allegati durante sync cache messaggi
CPI_PRELOAD_ATTACHMENTS=false
